<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/imgs/light/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/imgs/light/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/imgs/light/favicon-16x16.png">
    <!-- <link rel="manifest" href="assets/imgs/light/site.webmanifest"> -->
    <!-- <link rel="mask-icon" href="assets/imgs/light/safari-pinned-tab.svg" color="#5bbad5"> -->
    <!-- <meta name="msapplication-TileColor" content="#da532c"> -->
    <!-- <meta name="theme-color" content="#ffffff"> -->
    <link rel="shortcut icon" href="assets/imgs/light/favicon.ico" type="image/x-icon">
    <!-- <script type="module" src="./ang.min.js"></script> -->
    <!-- <script type="module" src="./ani.min.js"></script> -->
    <title>Soma</title>
  </head>
  <body>
    <div id="app">
      <header id="navbar">

        <nav id="menuNav" role="navigation">
          <a href="/soma/" id="menuLogo">
            <img class="logo" src="assets/imgs/logo2.svg" alt="">
          </a>
          <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input id="close" type="checkbox" />
            
            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
            <span></span>
            <span></span>
            <span></span>
            
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu">
              <a href="#event"><li>The Event</li></a>
              <a href="#artist"><li>The Artist</li></a>
              <a href="#testi"><li>Testimonials</li></a>
              <a href="#gallery"><li>Gallery</li></a>
            </ul>
          </div>
        </nav>
        <nav id="fullNav">
          <a href="/soma/" id="nav-logo">
            <img class="logo" src="assets/imgs/logo2.svg" alt="">
          </a>
          <ul>
            <a href="#event" data-content="The Event" class="glitch">
              <li>The Event</li>
            </a>
            <a href="#artist" data-content="The Artist" class="glitch">
              <li>The Artist</li>
            </a>
            <a href="#testi" data-content="Testimonials" class="glitch">
              <li>Testimonials</li>
            </a>
            <a href="#gallery" data-content="Gallery" class="glitch">
              <li>Gallery</li>
            </a>
          </ul>
        </nav>
      </header>
      <main class="" id="splash">
        <img src="assets/imgs/deer.svg" id="splash-img" />
        <div class="title">
          <a href="#event" id="homeLink">
            <h2>Soma</h2>
            <h2>Soma</h2>
          </a>
        </div>
      </main>

	  <main class="hide" id="event">
      <section class="slice" data-offset="10">
        <div class="slice-item" data-offset="20" onclick>
          What is Soma?
          <span class="Mask"><span>What is Soma?</span></span>
          <span class="Mask"><span>What is Soma?</span></span>
        </div>
      </section>
      <section class="card-wrapper">
        </section>
		</main>

    <main class="hide" id="lore">
      <section class="slice" data-offset="10">
        <div class="slice-item" data-offset="20" onclick>
          Lore and More
          <span class="Mask"><span>Lore and More</span></span>
          <span class="Mask"><span>Lore and More</span></span>
        </div>
      </section>
      <section class="parallax-wrapper">
        <div style="background-image: url('https://images.unsplash.com/photo-1473081556163-2a17de81fc97?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Identity and Nature</h2>
        </div>

        <p>
          The connection between the Vedas and the use of psychoactive substances, including the fly agaric mushroom, is a topic of scholarly debate and speculation. While the Rigveda, one of the oldest Vedic texts, does mention the sacred and intoxicating drink called "Soma," the exact identity of Soma remains uncertain. Scholars have proposed various hypotheses to bridge this gap. Some have suggested that Soma could be a plant, possibly a hallucinogenic one, while others propose non-psychoactive plants or even a combination of ingredients. The lack of a precise botanical description in the Rigveda adds to the mystery.
        </p>

        <div style="background-image: url('https://images.unsplash.com/photo-1500209690208-15084dbf0c57?q=80&w=2050&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Sacred Rituals</h2>
        </div>
        <p>
          Soma was used as an essential element in Vedic rituals and sacrificial ceremonies. Its consumption was believed to facilitate communication with the divine, invoke inspiration, and bring about a heightened state of consciousness. The effects of Soma were described in the Rigveda as inducing a state of ecstasy and inspiration. The rituals involving Soma were considered central to the religious practices described in the Rigveda.
        </p>
        <div style="background-image: url('https://plus.unsplash.com/premium_photo-1691960547132-42acf211c89d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Symbolism</h2>
        </div>
        <p>
          Soma is often associated with the moon and is described as a celestial beverage. It symbolizes the divine elixir that nourishes and energizes both gods and humans. The imagery surrounding Soma is rich in poetic and symbolic language.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1445375011782-2384686778a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Hymns to Soma</h2>
        </div>
        <p>
          In Vedic rituals, Soma was used as an offering to the gods, and its consumption was associated with religious ceremonies and hymns. The Rigveda contains numerous hymns dedicated to Soma, praising its divine nature and its role in facilitating communication with the gods. Many hymns in the Rigveda are dedicated to praising and invoking the blessings of Soma. These hymns describe the cosmic significance of Soma and its role in sustaining the order of the universe.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1619461129861-d0c1479c48b4?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Controversy and Speculation</h2>
        </div>
        <p>
          The identity of Soma has been a subject of much debate among scholars. Some have suggested that psychoactive plants, such as the fly agaric mushroom or certain species of Ephedra, could be potential candidates for Soma. However, these hypotheses are speculative, and there is no consensus on the matter. The identity of Soma remains one of the unresolved mysteries in Vedic studies, and interpretations vary among scholars. It's essential to approach these discussions with an awareness of the complexity and uncertainty surrounding the historical and cultural context of ancient rituals.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1562351778-a451cb11dc90?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text parallax-text-last">Resources</h2>
        <p>The mystery surrounding Soma adds to the intrigue of Vedic literature and the ancient rituals of the early Indo-Aryans. The spiritual and symbolic significance of Soma continues to be a topic of exploration and interpretation in the study of Vedic traditions.</p>
        <a href="#">Blank Link</a>
        </div>
        </section>
		</main>

    <main class="hide" id="agaric">
      <section class="slice" data-offset="10">
        <div class="slice-item" data-offset="20" onclick>
          The Fly Agaric
          <span class="Mask"><span>The Fly Agaric</span></span>
          <span class="Mask"><span>The Fly Agaric</span></span>
        </div>
      </section>
      <section class="parallax-wrapper">
        <div style="background-image: url('https://images.unsplash.com/photo-1537168113816-8fd3aec5fb15?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Overview</h2>
        </div>

        <p>
          the iconic fly agaric mushroom, also known as Amanita muscaria. It's that classic red-and-white toadstool you often see in fairy tales and folklore. The distinctive appearance of this mushroom makes it easily recognizable.
          Fly agaric contains psychoactive compounds, such as muscimol and ibotenic acid, which can induce hallucinations and altered states of consciousness when ingested. It's been used traditionally in some cultures for shamanic and religious purposes. However, it's crucial to note that the mushroom is toxic and can be dangerous if consumed in large quantities.
          The name "fly agaric" is derived from its historical use as an insecticide. People would reportedly crush the mushroom and mix it with milk to attract and kill flies. Despite its toxicity, the fly agaric continues to captivate the imagination and is a fascinating element in the world of fungi.
        </p>

        <div style="background-image: url('https://images.unsplash.com/photo-1475738384599-8cf3db232ffa?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Siberian Shamanism</h2>
        </div>
        <p>
          The indigenous peoples of Siberia, such as the Koryak, Chukchi, and Kamchadal, have a long history of using the fly agaric mushroom in shamanic rituals. It is believed that shamans would consume the mushroom to enter altered states of consciousness, communicate with spirits, and perform healing ceremonies.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1565284599824-cc060f468123?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Samoyedic Peoples</h2>
        </div>
        <p>
          Similar to Siberian shamans, the Samoyedic peoples of Siberia are known to have used the fly agaric in their religious practices. The mushroom played a role in their shamanic traditions and was considered a means of connecting with the spirit world.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1551032314-f4d41c12b4dd?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Finno-Ugric Peoples</h2>
        </div>
        <p>
          Some Finno-Ugric groups, including the Khanty and Mansi people of Western Siberia, have incorporated the fly agaric into their shamanic rituals. It was believed to aid in spiritual journeys and communication with the supernatural.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1597600327134-3a6804d5d513?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">Norse Mythology</h2>
        </div>
        <p>
          Some theories suggest that the fly agaric mushroom may have played a role in Norse mythology. The consumption of a substance with hallucinogenic properties, possibly akin to the effects of psychoactive mushrooms, is theorized in relation to the berserkers and Odin's association with wisdom and inspiration.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text parallax-text-last">Resources</h2>
        <p>It's important to approach these cultural uses with sensitivity and respect for the traditions involved. The interpretations and practices vary, and the use of psychoactive substances in a cultural or religious context often holds deep significance within those communities.</p>
        <a href="#">Blank Link</a>
        </div>
        </section>
		</main>

    <main class="hide" id="artist">
        <section class="slice" data-offset="10">
          <div class="slice-item" data-offset="20" onclick>
            Meet The Artist
            <span class="Mask"><span>Meet The Artist</span></span>
            <span class="Mask"><span>Meet The Artist</span></span>
          </div>
        </section>
        <section class="grid-container">
          <div class="grid-item item1"><img src="./assets/imgs/CarstenHoller_©JohnScarisbrick_1300x975.jpg" alt=""></div>
          <div class="grid-item item2">
            <p>
              Carsten Höller is a German-born artist who was actually born in Brussels, Belgium, in 1961. He initially studied agricultural sciences at the University of Kiel and later earned a Ph.D. in agricultural science also has a background in entomology (the study of insects). His scientific background has significantly influenced his artistic approach. <br />
              <a href="#works">Learn More</a>
            </p>
            
          </div>
        </section>
			
		</main>

    <main class="hide" id="works">
      <section class="slice" data-offset="10">
        <div class="slice-item" data-offset="20" onclick>
          Other Works
          <span class="Mask"><span>Other Works</span></span>
          <span class="Mask"><span>Other Works</span></span>
        </div>
      </section>
      <section class="parallax-wrapper">
        <div style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Test_Site_by_Carsten_H%C3%B6ller.jpg/800px-Test_Site_by_Carsten_H%C3%B6ller.jpg');" class="parallax"><h2 class="parallax-text">"Test Site" at Tate Modern</h2>
        </div>

        <p>
          Test Site was an art installation at Tate Modern in London from October 2006 to April 2007. The installation was a series of five large, shiny slides that connected the galleries with the Turbine Hall. The slides were designed for the seventh commission of the "The Unilever Series". 
          The slides were 55.5 meters long and dropped 26.5 meters from level five of the building to the Turbine Hall floor. Visitors could ride the slides and experience a feeling of letting go and losing control. 
          The slides merged sculpture, spectacle, and silliness. They could open a discursive field that relates to both the traditional museum ritual and the contemporary museum's entertainment premise.
        </p>

        <div style="background-image: url('https://cdn.indesignlive.com/media/idlcom/january_09/projects/london_hero.jpg');" class="parallax"><h2 class="parallax-text">"The Double Club" in London</h2>
        </div>
        <p>
          Höller transformed a Victorian warehouse into a space that explored the intersections between cultures, art, fashion, music, and celebrity, creating a unique environment where visitors could explore and enjoy different cultural influences. The Double Club was a bar, restaurant, and nightclub in London that operated from 2008-2009. 
          The space was a partnership between world-renowned artist Fondazione Prada and Carsten Höller. It was part art installation, part restaurant, bar, and nightclub.
        </p>
        <div style="background-image: url('https://www.designboom.com/cms/images/andrea05/ch01.jpg');" class="parallax"><h2 class="parallax-text">"The Revolving Hotel Room"</h2>
        </div>
        <p>
          The Revolving Hotel Room is a complete hotel room, including a bedside table and mini-bar, mounted on four revolving discs. It was created for and installed in 2008 as part of an exhibition at the Guggenheim Museum in New York. The room is for two people and guests have 24-hour access to the entire museum. The room was also featured in the adjoining gallery at Museum Boijmans Van Beuningen
        </p>
        <div style="background-image: url('https://d7hftxdivxxvm.cloudfront.net/?height=800&quality=85&resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FBpbUXpcmbWW9brwmkU285w%2Fnormalized.jpg&width=538');" class="parallax"><h2 class="parallax-text">"Upside Down Goggles"</h2>
        </div>
        <p>
          experiments with disorientation, challenging the way people perceive and navigate space. The goggles use acrylic glass, aluminum, steel, polyethylene, nylon, and leather. They are 35 x 22 x 12 cm. 
          The goggles make the space around the observer look upside down. The image on the retina of the observer's eyes is turned back (straightened).
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1597600327134-3a6804d5d513?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text">"Decision" at the Hayward Gallery</h2>
        </div>
        <p>
          This exhibition explored the theme of decision-making and featured interactive works such as the "Decision Corridors," where visitors had to make choices that influenced their path through the exhibit. The exhibit featured large-scale installations, kinetic sculptures, videos, and light works that explored perception and decision-making. The exhibit also included newly commissioned works and many of Höller's earlier works. 
          The exhibit took over the entire Hayward building and extended beyond its walls and roof. Visitors could participate in experimental situations that altered their experience of the gallery depending on the choices they made.
        </p>
        <div style="background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" class="parallax"><h2 class="parallax-text parallax-text-last">Still Interested?</h2>
        <p>Höller's art blurs the boundaries between art and science, often incorporating elements of psychology and biology into his installations. His work has been exhibited globally, and he continues to be a prominent figure in the contemporary art scene, pushing the boundaries of artistic expression and audience engagement. <br />
          <a href="https://arts.mit.edu/people/carsten-holler/">Carsten @ MIT</a>
        </p>
        
        </div>
        </section>
		</main>

    <main class="hide" id="testi">
      <section class="slice" data-offset="10">
        <div class="slice-item" data-offset="20" onclick>
          What People Are Saying
          <span class="Mask"><span>What People Are Saying</span></span>
          <span class="Mask"><span>What People Are Saying</span></span>
        </div>
      </section>
			<div class='rolodex-wrapper'>
        <div class='carousel'>
          
        </div>
        </div>
		</main>

		<main class="hide" id="gallery">
      <section class="slice" data-offset="10">
        <div class="slice-item" data-offset="20" onclick>
          Take A Closer Look
          <span class="Mask"><span>Take A Closer Look</span></span>
          <span class="Mask"><span>Take A Closer Look</span></span>
        </div>
      </section>
			
      <div class="container" ng-class="{'no-scroll': selected.length}" ng-app="app" ng-controller="galleryCtrl">
        <div class="page">
          <div class="grid">
            <div class="grid-item" ng-repeat="item in boxes">
              <box class="box" item="item" on-select="selectBox" ng-class="{'selected': selected[0].item.name == item.name}"></box>
            </div>
          </div>
        </div>
        <div class="fullscreen-background top-up" ng-show="selected.length" ng-style="{'background-image': 'url(' + selected[0].item.image + ')'}"></div>
        <div class="scroller" ng-show="selected.length">
          <a class="close-button" ng-click="clearSelection()">
            <i class="material-icons">&times;</i>
          </a>
          <h1>{{selected[0].item.name}}</h1>
          <div big-box ng-repeat="item in selected" class="box on-top" position="item.position" selected="item.item">
            <img ng-src="{{item.item.image}}" alt="" />
            <div class="content">
              <p>{{selected[0].item.data}}</p>
            </div>
          </div>
          
        </div>
      </div>
		</main>
      
		
		<footer id="footer">
      <div class="trapdoor">
        <div class="top door">
        </div>
        <div class="bottom door">
        </div>
        <a href="https://Etchie.dev" class="inner-content">Etchie Development</a>
      </div>
    </footer>
		
    </div>
	  <script type="module" src="assets/js/app.js"></script>
  </body>
</html>
