.glitch {
    position: relative;
    display: inline-block;
    font-size: inherit;
    text-decoration: none;
    color: purple;
    z-index: 1;
  }
  .glitch:before,
  .glitch:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .glitch:before {
    color: #00ffff;
    z-index: -1;
  }
  .glitch:after {
    color: #ff00ff;
    z-index: -2;
  }
  .glitch:hover:before {
    -webkit-animation: glitchy 0.4s ease 0.4s infinite;
            animation: glitchy 0.4s ease 0.4s infinite;
  }
  .glitch:hover:after {
    animation: glitchy 0.6s ease infinite reverse;
  }

@keyframes glitchy {
    0%   {transform: translate(-2px, 2px);}
    25%  {transform: translate(-2px, -2px);}
    50%  {transform: translate(2px, 2px);}
    75%  {transform: translate(2px, -2px);}
    100%  {transform: translate(-2px, 2px);}
}