
@media screen and (min-width: 425px) {
  #splash-img{
    top: 25px !important;
  }
  .card {
    height: 400px;
  }
}
@media screen and (min-width: 480px) {
  #navbar{
    margin: 12px auto 0 auto;
  }
    .title h2 {
      font-size: 9em;
    }
  #testi{
    height: 886px !important;
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 70% auto !important;
  }
  .card-wrapper {
    grid-template-columns: auto auto;
  }
	#splash-img{
    top: 0px !important;
		width: 140% !important;
		margin: 0 auto 0 -25% !important;
  }
.title h2 {
      top: 160px;
    }
    #fullNav {
      display: inline-block;
      width: 100%;
    }
    #menuNav{
        display: none;
    }
    .logo{
      max-width: 169px;
    }
    #testi{
      height: 700px !important;
    }
    .rolodex-wrapper{
      height: 85%;
    }
}

@media screen and (min-width: 1024px) {
  .card-wrapper {
    grid-template-columns: auto auto auto;
  }
  .card:last-child{
    grid-column: 2/3;
  }
  #splash{
/*    height: 86vh !important;*/
  }
  #navbar{
    font-size: 24px;
  }
  #fullNav a.glitch{
    margin-right: 32px;
  }
}

@media screen and (min-width: 1400px) {
  .card-wrapper {
    grid-template-columns: auto auto auto auto;
  }
  .card{
    height: 500px;
    max-width: 400px;
  }
  .card:last-child{
    grid-column: auto;
  }
}