@import 'glitchy.css';
@import 'glowWave.css';
@import 'trapdoor.css';
@import 'nav.css';
@import 'slice.css';
@import 'gallery.css';
@import 'responsive.css';

:root {
  --shadow-color: #c19bf5;
  --shadow-color-light: rgba(0,0,0, 1);
}

body {
  background-color: black;
  margin: 0;
	color: white;
}


.logo{
	max-width: 140px;
  float: right;
}
#splash-img{
  	z-index: -1;
	top: 80px;
  	margin: 0 auto 0 auto;
	width: 100%;
	max-height: 740px;
  	position: absolute;
	animation: colorRotate 3s linear infinite;
}

.logo {
/*	animation: colorRotate 3s linear infinite;*/
  }
  
  @keyframes colorRotate {
	100% {
	  -webkit-filter: hue-rotate(360deg);
	}
  }


#splash{
  width: 100%;
  height: 45.8rem;
  contain: content;
	font-family: "Poppins", sans-serif;
}

#event{
	width: 80%;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

#artist{
	width: 80%;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

#testi{
	width: 80%;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

#gallery{
	width: 100%;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

.hide{
	display: none;
}