@import 'glitchy.css';
@import 'glowWave.css';
@import 'trapdoor.css';
@import 'nav.css';
@import 'slice.css';
@import 'gallery.css';
@import 'cards.css';
@import 'rolodex.css';
@import 'responsive.css';

@import url('https://fonts.googleapis.com/css2?family=Raleway');

:root {
  --shadow-color: #c19bf5;
  --shadow-color-light: rgba(0,0,0, 1);
}

body {
	background-color: black;
/*	 rgba(227,142,33,.4)*/
  background-image: radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(99,193,50,.4));
  margin: 0;
	color: white;
	-webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
	
}

p{
	font-family: 'Raleway', sans-serif;
}


.logo{
	max-width: 140px;
  float: right;
}
#splash-img{
  	z-index: -1;
	top: 80px;
  	margin: 0 auto 0 auto;
	width: 100%;
	max-height: 740px;
  	position: absolute;
	animation: colorRotate 3s linear infinite;
}

#app{
	overflow: hidden;
	
}

.logo {
/*	animation: colorRotate 3s linear infinite;*/
  }
  
  @keyframes colorRotate {
	100% {
	  -webkit-filter: hue-rotate(360deg);
	}
  }


#splash{
  width: 100%;
  height: 45.8rem;
  contain: content;
	font-family: "Poppins", sans-serif;
}

#event{
	width: 100%;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

#artist{
	width: 80%;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

.grid-container {
	margin-top: 20px;
	display: grid;
	gap: 10px;
	grid-template-columns: auto;
  }
  
#artist .grid-item {
	text-align: center;
	font-size: 30px;
	contain: content;
}

#artist img {
	width: 100%;
}
  .item1 {
	
  }
  
  .item2 {
	background-color: purple;
  }

#testi{
	width: 80%;
	height: 1000px;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

#gallery{
	width: 100%;
	contain: content;
	margin: 0 auto 0 auto;
	text-align: center;
}

.hide{
	display: none;
}